%btn {
  display: inline-block;

  min-width: 50px;
  color: $acent-text-color;
  background-color: $main-bg-color;

  font-size: 14px;
  line-height: 1.78;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  transform: background-color 300ms $animation-cubic-bezier;
  &:hover,
  &:focus {
    background-color: $hover-bg-color;
  }
}

%title {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.4;

  color: #404040;

  @media screen and (min-width: 1440px) {
    font-size: 50px;
  }
}
