$animation-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$main-text-color: #404040;
$acent-text-color: #ffffff;
$main-bg-color: #2468ff;
$acent-bg-color: #161f49;
$third-bg-color: #000000;
$slider-bg-color: #00b68c;
$hover-bg-color: #214084;
$bg-slider: #f7f7f7;
$slider-text-color: #999999;
$adress-text-color: #646565;
