.technology {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: $main-text-color;
  color: $acent-text-color;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.technology-title {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    font-size: 28px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 823px;

    font-size: 42px;
  }
}

.technology-text {
  text-transform: uppercase;

  @media screen and (min-width: 1440px) {
    font-size: 30px;
  }
}
